
# Created by https://www.gitignore.io/api/fsharp

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe


# End of https://www.gitignore.io/api/fsharp
Texta.1.0.0-alpha.nupkg
.DS_Store
Texta.1.0.0-alpha.2.nupkg
